doctype html
html
    head
        include lib/headSetting.pug

        link(rel="stylesheet", href="/css/list.css")
        
        title Wedio Engine - 노래 목록
    body
        include lib/nav.pug
        
        button.btn.upload(onclick="location.href='/cloud/media/uploader'") 업로드

        .container
            h1 내 노래
            .list
                - let i = 0
                while i < 50
                    img(src="/img/test.jpg", alt="테스트 사진")
                    - i++
        
        include lib/footer.pug