doctype html
html(onload="init()")
    head
        include lib/headSetting.pug
        
        link(rel="stylesheet", href="/css/playing.css")

        title Wedio Engine - 플레이어
    body
        include lib/nav.pug
        
        .container
            h2 #{file.origin_name.slice(0,-4)}
            h3 ※주의사항※ 
            h4 새로고침하면 노래가 안나오는 버그가 있습니다. 뒤로가기를 해주신후 노래를 클릭해서 들어오시면 됩니다.
            audio(id="player", autoplay, src=`/music/${file.saved_name}`, controls)
            .eq
                .controls
                    span.eqr Low
                    input(type="range", value="100", step="1", min="0", max="100", oninput="changeGain(this.value, 'lowGain')")
                .controls
                    span.eqr Mid
                    input(type="range", value="100", step="1", min="0", max="100", oninput="changeGain(this.value, 'midGain')")
                .controls
                    span.eqr High
                    input(type="range", value="100", step="1", min="0", max="100", oninput="changeGain(this.value, 'highGain')")
            
        script(src="/js/playing.js")    
        
        include lib/footer.pug