doctype html
html
    head
        include lib/headSetting.pug
        
        style
            include css/upload.css
        title Wedio Engine - 업로드
    body
        include lib/nav.pug
        
        .container
            
        
        include lib/footer.pug