@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean');

* {
  font-family: 'Nanum Gothic', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}

.navUl {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #363636;
}

.navLi a {
  display: block;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.box {
  width: 800px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  width: 230px;
  height: 40px;
  color: black;
  background-color: white;

  box-sizing: border-box;
}

.loginBtn>a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
}

.loginLogo {
  float: left;
  display: inline-block;
  height: 30px;
  margin: 5px;
  margin-left: 8px;
  margin-right: 24px;
}

.loginText {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 5px auto;
}

#naverLogin {
  background-color: #1EC800;
  border: 0;
}

#naverLogo {
  height: 40px;
  margin: 0;
}

#naverText {
  color: white;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  background-color: #555555;
  color: white;
  line-height: 50px;
  text-align: center;
}