@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean');

* {
    font-family: 'Nanum Gothic', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
}

.navUl {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
}

.navLi a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 20px;
    text-decoration: none;
}

.title {
    float: left;
}

.username,
.logout,
.userPhoto {
    float: right;
}

.userPhoto a{
    padding: 7px 0;
}

.userPhoto>a>img{
    height: 32px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid black;
}

#x{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    
}

#x>a{
    text-decoration: none;
    color: black;
}

#drop-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 500px;
    height: 230px;
    margin: 10px auto;
    padding: 20px;
}

#drop-area.highlight {
    border-color: purple;
    background-color: #e9d6fc;
}

#button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#button:hover {
    background: #ddd;
}

#button.highlight {
    opacity: 0.5;
}

#fileElem {
    display: none;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #333333;
    color: white;
    line-height: 50px;
    text-align: center;
}